In [63]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("all_data.xlsx")

In [10]:
df.head()

,Asia - Long,Asia - Net,Asia - Short,Beginning Balance,Capital Call Amount ($)*,Capital Call (%),Capital Reserve Balance ($),Commitment,Consumer Discretionary - Long,Consumer Discretionary - Net,...,Category Name,Sub Category,File Name,Original File Name,Investment Structure,Last Modified,Modified by,Investment Legal Name,Investment Extraction Alias,Entity Extraction Alias
0,NaN,NaN,NaN,531250.00,NaN,NaN,NaN,1250000.0,NaN,NaN,...,Capital Activity,Account Statement,Liverpool Investments L.P. - Henderson Holding...,LiverpoolQuarterlyAcctStatements1148.pdf,Drawdown Fund,2019-01-26 17:01:27,canoe software,NaN,NaN,Henderson Holding Group LLC
1,NaN,NaN,NaN,605514.45,NaN,NaN,NaN,1250000.0,NaN,NaN,...,Capital Activity,Account Statement,Liverpool Investments L.P. - Henderson Holding...,Henderson Holding Group LLC - Liverpool Invest...,Drawdown Fund,2019-01-26 17:01:27,canoe software,NaN,NaN,Henderson Holding Group LLC
2,NaN,NaN,NaN,697346.19,NaN,NaN,NaN,1250000.0,NaN,NaN,...,Capital Activity,Account Statement,Liverpool Investments L.P. - Henderson Holding...,Henderson Holding Group LLC - Liverpool Invest...,Drawdown Fund,2019-01-26 17:01:28,canoe software,NaN,NaN,Henderson Holding Group LLC
3,NaN,NaN,NaN,723538.84,NaN,NaN,NaN,1250000.0,NaN,NaN,...,Capital Activity,Account Statement,Liverpool Investments L.P. - Henderson Holding...,Henderson Holding Group LLC - Liverpool Invest...,Drawdown Fund,2019-01-26 17:01:28,canoe software,NaN,NaN,Henderson Holding Group LLC
4,NaN,NaN,NaN,760465.85,NaN,NaN,NaN,1250000.0,NaN,NaN,...,Capital Activity,Account Statement,Liverpool Investments L.P. - Henderson Holding...,Henderson Holding Group LLC - Liverpool Invest...,Drawdown Fund,2019-01-26 17:01:28,canoe software,NaN,NaN,Henderson Holding Group LLC

In [14]:
# df[['Category Name', 'Sub Category', 'File Name']]

In [3]:
new_df = df[['Category Name', 'Sub Category', 'File Name']]

In [4]:
new_df.head()

,Category Name,Sub Category,File Name
0,Capital Activity,Account Statement,Liverpool Investments L.P. - Henderson Holding...
1,Capital Activity,Account Statement,Liverpool Investments L.P. - Henderson Holding...
2,Capital Activity,Account Statement,Liverpool Investments L.P. - Henderson Holding...
3,Capital Activity,Account Statement,Liverpool Investments L.P. - Henderson Holding...
4,Capital Activity,Account Statement,Liverpool Investments L.P. - Henderson Holding...

In [13]:
new_df = new_df[:-1]

In [5]:
new_df.shape

(277, 3)

In [114]:
new_df['Sub Category'].unique()

array(['Account Statement', 'Distribution Notice', 'Call Notice',
       'Investor Letter', 'Fact Sheet'], dtype=object)

In [6]:
def category_to_numeric(x):
    if x == 'Account Statement':
        return 1
    elif x == 'Distribution Notice':
        return 2
    elif x == 'Call Notice':
        return 3
    else:
        return -1

In [7]:
new_df['category'] = new_df['Sub Category'].apply(category_to_numeric)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
new_df['category'].unique()

array([ 1,  2,  3, -1])

In [9]:
new_df.head()

,Category Name,Sub Category,File Name,category
0,Capital Activity,Account Statement,Liverpool Investments L.P. - Henderson Holding...,1
1,Capital Activity,Account Statement,Liverpool Investments L.P. - Henderson Holding...,1
2,Capital Activity,Account Statement,Liverpool Investments L.P. - Henderson Holding...,1
3,Capital Activity,Account Statement,Liverpool Investments L.P. - Henderson Holding...,1
4,Capital Activity,Account Statement,Liverpool Investments L.P. - Henderson Holding...,1

In [10]:
new_df = new_df.sort_values(by='File Name').reset_index()

In [11]:
new_df.head()

,index,Category Name,Sub Category,File Name,category
0,195,Capital Activity,Account Statement,Arsenal Capital Group - Wenger Partners - Acc...,1
1,199,Capital Activity,Account Statement,Arsenal Capital Group - Wenger Partners - Acc...,1
2,275,Capital Activity,Account Statement,Arsenal Capital Group - Wenger Partners - Acc...,1
3,192,Capital Activity,Account Statement,Arsenal Capital Group - Wenger Partners - Acc...,1
4,196,Capital Activity,Account Statement,Arsenal Capital Group - Wenger Partners - Acc...,1

In [14]:
len(new_df['File Name'])

276

In [15]:
import os
pdfs = os.listdir("docs/raw_data/")

In [16]:
len(pdfs)

277

In [17]:
pdfs.sort()

In [19]:
# pdfs

In [20]:
new_df['file'] = pdfs[1:]

In [21]:
import PyPDF2

In [29]:
pdfFileObj = open('docs/raw_data/Crystal Palace, LLC - Fact Sheet - 2018-06-30.pdf', 'rb')

In [30]:
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)

In [31]:
pdfReader.numPages

2

In [32]:
pageObj = pdfReader.getPage(0)

In [44]:
contents = pageObj.extractText().strip()
# print(contents)

NameError: name 'pageObj' is not defined

In [22]:
import pdftotext

In [156]:
with open('docs/raw_data/Crystal Palace, LLC - Fact Sheet - 2018-06-30.pdf', 'rb') as f:
    p = pdftotext.PDF(f)

In [23]:
import nltk
# print(nltk.sent_tokenize(p[0]))

In [163]:
# for file in glob.glob('docs/raw_data/*.pdf'):
#     print(file)

In [169]:
import pdftotext
import glob
import os
import nltk
for file in glob.glob('docs/raw_data/*.pdf'):
    content = []
    with open(file, 'rb') as f:
        pdf = pdftotext.PDF(f)
#         print (pdf)
        for page in pdf:
            content += nltk.sent_tokenize(page)
#             print(content)
    filename = file.split('/')[2].split('.')[0] + '.txt'
#     print('\n'.join(content))
    f = open('text_files/'+filename, 'w')
    f.write(''.join(content))
    f.close()

In [53]:
new_df['text'] = None

In [54]:
import pdftotext
import glob
import os
import nltk
row = 0
for file in glob.glob('docs/raw_data/*.pdf'):
    content = []
    with open(file, 'rb') as f:
        pdf = pdftotext.PDF(f)
#         print (pdf)
        for page in pdf:
            page = page.replace('\n', ' ')
#             print(page)
            content += nltk.sent_tokenize(page)
#     print(content)
    new_df['text'][row] = content[0]
    row += 1
#     break
#     filename = file.split('/')[2].split('.')[0] + '.txt'
# #     print('\n'.join(content))
#     f = open('text_files/'+filename, 'w')
#     f.write(''.join(content))
#     f.close()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [42]:
content = ''
with open("docs/raw_data/Newcastle Ventures, LLC - Henderson Holding Group - Capital Call Notice - 2017-03-20.pdf", 'rb') as f:
    pdf = pdftotext.PDF(f)
#         print (pdf)
    for page in pdf:
        page = page.replace('\n', ' ')
        content += ''.join(nltk.sent_tokenize(page))

In [43]:
content

'            Newcastle Ventures TO: Henderson Holding Group FROM: Newcastle Ventures, LLC DATE: 3/10/2017 RE: Capital Call Notice for Henderson Holding Group - Due 3/20/2017 Newcastle Ventures, GP (the “Partnership”) is issuing a capital call request in accordance with section 5.1 of the Limited Partnership Agreement (the “Agreement”).The total capital called is $27,117,728 and will be used to fund investments out of the Partnership and to pay management fees and operating expenses.Please send a wire transfer or mail a check for $145,000.00 by Monday, 20 March 2017 as follows: WIRE INSTRUCTIONS:            Institution:         Marin Valley Bank                               Account Number:      72839473                               Bank Address:        383 Juniper Rd                                                    Beverly Hills, CA 90210                               Reference:           Yedlin Capital LLC CHECK INSTRUCTIONS: If you are funding via check, please mail the check payable to Newcastle Ventures, GP to the following address:                               Newcastle Ventures                               4 Strawberry Place                               Newcastle Upon Tyne, London, UK If you have any questions regarding this notice, please contact Rafael Benitez at Rafael@newcastle.com Sincerely, Rafael Benitez General Partner'

In [55]:
new_df.head()

,index,Category Name,Sub Category,File Name,category,file,text
0,195,Capital Activity,Account Statement,Arsenal Capital Group - Wenger Partners - Acc...,1,Arsenal Capital Group - Wenger Partners - Acc...,Chelsea Partners ...
1,199,Capital Activity,Account Statement,Arsenal Capital Group - Wenger Partners - Acc...,1,Arsenal Capital Group - Wenger Partners - Acc...,Liverpool Investments 6/30/2017 To...
2,275,Capital Activity,Account Statement,Arsenal Capital Group - Wenger Partners - Acc...,1,Arsenal Capital Group - Wenger Partners - Acc...,Newcastle Ventu...
3,192,Capital Activity,Account Statement,Arsenal Capital Group - Wenger Partners - Acc...,1,Arsenal Capital Group - Wenger Partners - Acc...,4/14/2016 Courtois Investment Group 5 Fulham R...
4,196,Capital Activity,Account Statement,Arsenal Capital Group - Wenger Partners - Acc...,1,Arsenal Capital Group - Wenger Partners - Acc...,Liverpool Investments R 1/15/2...

In [56]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfTransformer

In [57]:
text_list = new_df['text'].tolist()
count_vect = CountVectorizer()
x_train_counts = count_vect.fit_transform(text_list)

In [58]:
tfidf_transformer = TfidfTransformer()
x_train_tfidf = tfidf_transformer.fit_transform(x_train_counts)

In [59]:
varietal_list = new_df['category'].tolist()
train_x, test_x, train_y, test_y = train_test_split(x_train_tfidf, varietal_list, test_size=0.3)

In [60]:
from sklearn.svm import SVC

In [61]:
# clf = MultinomialNB().fit(train_x, train_y)
clf = SVC(kernel='linear').fit(train_x, train_y)
# clf = SVC(kernel='linear').fit(x_train_tfidf, varietal_list)
y_score = clf.predict(test_x)

In [64]:
np.mean(y_score != test_y)

0.5180722891566265

In [66]:
y_score

array([1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 3, 1, 1, 3, 1, 1, 1, 3, 1, 1, 3,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 1, 1, 1, 3, 1, 1, 1, 3,
       1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 1])